<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/general.css">
</head>

<body>

    <header class="header_principal">
        <nav>
            <a href="index.html">Inicio</a>
            <a href="inmobiliaria.html">Inmobiliaria</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>

    <main>

        <table class="tabla_info">

            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Ubicacion</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>casa001</td>
                    <td>Santa Marta de Monte de Oca</td>
                    <td>$135000</td>
                    <td></td>
                </tr>

                <tr>
                    <td>casa002</td>
                    <td>Escazu</td>
                    <td>$22000</td>
                    <td></td>
                </tr>


            </tbody>

        </table>

    </main>

</body>

</html>