
.img_logo{
    width: 70px;
    height: 84px;
}

#frm_citas {
    padding: 10px;
}

#frm_citas button{
    display: block;
    background:  #f1c40f;
    padding: 10px;
    width: 170px;
    font-size: 16px;
}
#frm_citas button:hover{
    background:  #f39c12;
}

.highlight_citas {
    background-color: #d63031;
    color: #d63031;
}

.error_input{
    border: 2px solid #d63031;
}