.header_principal input[type=text] {
    float: right;
    
    border: none;
   
    margin-right: 16px;
    font-size: 17px;
  }



.header_principal div a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.header_principal div a:hover{
    color: #3498db;
}

.columna_derecha_padre{
    width: 45%;
    float: right;
    background-color: #808e9b;
    padding: 20px;
}