
section #frm_citas{
text-align: center;
width: 450px;
height: 200px;
background-color: grey;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}

section #frm_citas div{
    padding: 10px;
}

.highlight_citas {
    background-color: #d63031;
    color: #d63031;
}
