.etiqueta{
margin-left: 38%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
height: 60px;
width: 385px;
margin-bottom: 20px;
}

.registro{
    height: 60px;
    margin-left: 45%;

}

h1{
	font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #2f3640;
    text-align: center;
}

#tbl_etiquetas {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

tbody tr td {
	border-bottom: #00ced4 solid 2px;
	padding: 20px;
}
	
tbody tr:hover {
	background-color: #a4b0be;
		
	}
	
tr:nth-child(even) {
  	background-color: #f1f2f6;
		
}